# Fabric generated crypto material
fabric-network/organizations/
fabric-network/fabric-ca/
fabric-network/wallet/

# Certificates and private keys
*.pem
*.key
*_sk

# Docker / local environment
.env
*.log
